.main {
    margin-left: 100px;
}

.hero {
    margin-left: 50px;
    max-width: 80%;
    &--sm {
        @media #{$mobile} {
            margin-left: 25px;
        }  
    }
    .primary {
        font-size: 48px;
        @media #{$mobile} {
            font-size: 32px;
        }
        &--lg {
            font-size: 60px;
            @media #{$mobile} {
                font-size: 44px;
                font-weight: bold;
             }
        }
    }
    &--centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .secondary {
        padding-bottom: 10px;
    }
    &__right {
        margin-top: 90px;
        margin-left: 30px;
        max-width: 80%;
    }
    &__wrapper {
        padding-top: 120px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @media screen and (max-width: 640px) {
            grid-template-columns: 1fr;
            padding-top: 80px;
        }
    }
}

#svg-social {
    width: 16px;
    height: auto;
}

.section {
    min-height: 50vh;
    padding: 80px 0;
    @media #{$mobile} {
        padding: 40px 0;
    }
}

.contact {
    text-align: center;
    @media #{$mobile} {
        text-align: left;
    }
    h1 {
        font-size: 52px;
        @media #{$mobile} {
            font-size: 18px;
            // text-align: center;
        }
    }
    .links__item {
        width: 100px;
        margin: auto;
        @media #{$mobile} {
            margin: 0;
            padding: 0;
            font-size: 14px;
        }
    }
}

.caption {
    text-transform: uppercase;
    background: $white;
    font-size: 14px;
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px; 
    &__wrapper {
        margin: 20px;
        h4 {
            @media #{$mobile} {
                font-size: 1.2rem;
            }
        }
    }
    &:before {
        position: absolute;
        content: '';
        height: 1px;
        top: 45%;
        left: -20px;
        width: 10px;
        background: $black;
    }
    &:after {
        position: absolute;
        content: '';
        height: 1px;
        top: 45%;
        right: -20px;
        width: 10px;
        background: $black;
    }
}

.title {
    text-align: center;
    font-weight: 600;
    
}

.works {
    margin-top: 50px;
    h2 {
        font-size: 1.5rem;
    }
    @media #{$mobile} {
        margin-top: 20px;
    }
    &__wrapper {
        padding-top: 80px;
    }
    &__img {
        border-radius: 6px 6px 0 0;
        overflow: hidden;
        max-height: 400px;
        img {
            width: 100%;
            max-width: 50vw;
            object-fit: contain;
            @media #{$mobile} {
                // max-height: 150px;
            }
        }
    }
    &__body {
        margin-left: 40px;
        @media #{$mobile} {
            margin-left: 20px;
            padding-top: 20px;
        }
        .links__item {
            margin-left: 0;
            padding-left: 0;
        }
        p {
            font-size: 44px;
            @media #{$mobile} {
                font-size: 18px;
            }
        }
    }
    &__wrapper {
        padding: 40px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        &:nth-of-type(even) {
            flex-direction: row-reverse;
            @media #{$mobile} {
                flex-direction: column;
            }
        }
        @media #{$mobile} {
            flex-direction: column;
            margin-bottom: 20px;
        }
    }
}

.extras {
    &__wrap {
        display: flex;
        justify-content: space-between;
        margin: 30px;
        @media #{$mobile} {
            flex-direction: column;
        }
    }
    .title {
        margin-top: 50px;
        padding-bottom: 30px;
        @media #{$mobile} {
            margin-top: 0px;
            font-size: 24px;
         }
    }
    .works__img {
        flex: 0 1 20%;
        text-align: center;
        box-shadow: -9px 10px 44px 0px rgba(235,235,235,0.75);
        @media #{$mobile} {
            max-height: 300px;
            margin-bottom: 15px;
            box-shadow: none;
        }
        img {
            @media #{$mobile} {
                width: 100%;
                max-width: 50vw;
                object-fit: cover;
                overflow: hidden;
                border-radius: 6px;
                box-shadow: -9px 10px 44px 0px rgba(235,235,235,0.75);
            }
        } 
    }
}