@font-face {
    font-family: 'Akkurat-Light';
    font-style: normal;
    font-weight: normal;
    // src:  url('../vendors/fonts/AvenirNextLTPro-Regular.otf') format('opentype')
    src:  url('../vendors/fonts/Akkurat Light.ttf') format('truetype')
}
