//colors
$white: #fff;
$black: #000;
$black-light: #333;
//message
$message-grey: #f9f9f9;

$font-family: 'Akkurat-Light';

// Responsiveness sizes
$mobile: "screen and (max-width: 640px)";
$tablet-max: "screen and (max-width: 980px)";
$tablet: "(min-width: 640px) and (max-width: 980px)";
$desktop: "screen and (min-width: 1120px)";

$base-font-size: 16px;